{% extends "layout.html" %}
{% block content %}

<br><br><br><br><br>

<center>
<h4 style="color: white; font-size: 55px; ">About Us</h4>
</center>

<body class="parallax" background="{{ url_for('static', filename='pictures/h3.jpg') }}">
<div class="bingo" style="background-color:white; padding:0px;">

<center>

    <h2 style="text-decoration: underline">WHO ARE WE?</h2>
    <h4>Roots provides diverse local "storytellers"</h4>

    <br><br><br>

    <h2 style="text-decoration: underline">THE PROBLEM</h2>
    <h4>The divsion and misunderstanding between people with different backgrounds. the prejudices people have towards each other</h4>

    <br><br><br>

    <h2 style="text-decoration: underline">OUR VISION</h2>
    <h4>we envision a world where pepole with different backgrounds are able to embrace the diversity and respect the opinions /stories of one another</h4>

    <br><br><br>

    <h2 style="text-decoration: underline">OUR MISSION</h2>
    <h4>We plan on collecting volunteers with certain crierieas that have the ability to connect with people and are open to share their own personal stiores</h4>

    <br><br><br>

    <h2 style="text-decoration: underline">OUR TEAM</h2>
    <h4>Sama, Guy, Mahmoud, Dana, Avigail, <br> Malak, Ade, Nadia, Zain, Yuly, Zohar</h4>
    
    </div>
    </center>
	
</div> 
</div>

</body>


{% endblock %}