{% extends "layout.html" %}
{% block content %}
<br><br><br><br>
<center>
<h4 style="color: white; font-size: 55px;">About Us</h4>
</center>
<body class="parallax" background="{{ url_for('static', filename='pictures/h3.jpg') }}"">
<div class="bingo" style=";background-color:white;font-size:45px ">
<center>
<h4>
WHO ARE WE?
</h4>
<h4>_________</h4>

<p>Roots provides diverse local "storytellers"</p>
<br><br><br>

<h4>THE PROBLEM</h4>
<br>_________</h4>
<p>The divsion and misunderstanding between people with different backgrounds. the prejudices people have towards each other</p>
<br><br><br>
<h4>OUR VISION</h4>
<h4>_________</h4>
<p>we envision a world where pepole with different backgrounds are able to embrace the diversity and respect the opinions /stories of one another</p>
<br><br><br>
<h4>OUR MISSION</h4>
<h4>_________</h4>
<p>We plan on collecting volunteers with certain crierieas that have the ability to connect with people and are open to share their own personal stiores</p>
<br><br><br>
<h4>OUR TEAM</h4>
<h4>_________</h4>
<p>Sama,GUy,Mahmoud,Dana,Avigail,Malak,Ade,Nadia,Zain,Yuly,Zohar</p>
</div>
</center>
	
 <style>
.bingo{
	position: absolute;
    top: 400px;
	height: 2200px;
	width: 100%;

}
.parallax {
    /* The image used */

    /* Set a specific height */
    height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax">
	
</div> 


</body>


{% endblock %}