{% extends "layout.html" %}
{% block content %}

<div class="container">
<header class="jumbotron my-4">
	<h1 class="display-3">EXPLORE</h1>
</header>

<div class="row text-center">
		<div class="col-lg-3 col-md-6 mb-4">
			<div class="card">
				{% for journey in all_journeys %}
	    		<img class="card-img-top" src="{{url_for('static', filename='profile.png')}}">
	    			<div class="card-body">
	    			<h4 class="card-title">{{ journey.title }}</h4><br>
	    			<h3 class="card-text"> The journey will be at {{ journey.location }}</h3><br>
	    			<p class="card-text">Price: {{ journey.price }}</p><br>
	    			<p class="card-text"> This journey would intrest people who are {{ journey.category }}</p><br>
	    			<a href="{{url_for('display_journey', journey_id=journey.id)}}" class="btn btn-primary"> View Details </a>
	    			<br><br>
	    			</div>	
	    ------------------------------------------------------------- 
	    		{% endfor %}
	    	</div>
	    </div>

</div>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Roots Company @2018</p>
    </div>
	</footer>

</div>

{% endblock %}