{% extends "layout.html" %}
{% block content %}

<body class="parallax" background="{{ url_for('static', filename='pictures/hi2.jpg') }}">

<br><br><br><br><br>

<center>
  <h1 class="display-3" style=" color: white;">EXPLORE</h1>
</center>

<br><br><br><br><br>

<div class="bingo" style=" background-color:white; padding:0px; ">
<br><br><br>
	<div class="row text-center">
		{% for journey in all_journeys %}
			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
		    		<img class="card-img-top" src="{{url_for('static', filename='profile.png')}}">
		    		<div class="card-body">
		    			<h4 class="card-title">{{ journey.title }}</h4>
		    			<h5 class="card-text"> The journey will be at {{ journey.location }}</h5>
		    			<p class="card-text">Price: {{ journey.price }}</p>
		    			<p class="card-text"> This journey would intrest people who are {{ journey.category }}</p>
		    		</div>
		    		<div class="card-footer">
		    			<a href="{{url_for('display_journey', journey_id=journey.id)}}" class="btn btn-primary"> View Details </a>
		    			<br><br>
		    		</div>
		    	</div>
		    </div>
		{% endfor %}
	</div>

<div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Threads</h4>
              <p class="text-muted">Illustration</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">

<br><br>

    <footer style="background-color: grey ; color:white">
      <div class="container">
        <p class="m-0 text-center text-white">Roots Company @2018</p>
      </div>
	</footer>

</div>
</div>
</body>
{% endblock %}