{% extends "layout.html" %}
{% block content %}

<br><br><br><br>
<!-- 
<frameset cols="25%,*,25%">
	<frame src="frame_a.htm"> -->


<body class="parallax">
 	<div class="heybaby">
	<center>
	<h2 class="underline"> storyteller: </h2> <h3>{{creator.name}}</h3>
	<div> <h1> {{journey.title}} </h1>
	<h2 class="underline"> location: </h2>{{journey.location}} </h1>
	<h2 class="underline"> description: </h2>{{journey.description}} </h1>
	<h2 class="underline"> duration: </h2>{{journey.duration}} </h1>
	<h2 class="underline"> price: </h2>{{journey.price}} </h1>
	<h2 class="underline"> category: </h2>{{journey.category}} </h1>
	<h2 class="underline"> requirements: </h2>{{journey.requirements}} </h1>
	<h2 class="underline"> people range: </h2>{{journey.people_range}} </h1>
	<div> <img class="img1" src="{{ journey.picture }}"> </div>

	</center>

</div>
</div>

</body>



{% endblock %}