{% extends "layout_user.html" %}
{% block content %}



<body class="fixed-bg"  background="{{ url_for('static', filename='pictures/ade1.png') }}">

	<center>
	 <div class="add-user">
 
		<div>
 
		  <img src="{{ url_for('static', filename='pictures/image1.PNG') }}" style="width: 150px; top: 0px; left: 200px; position: fixed;">
 
		</div>

	  <form  class="textbox" style="background: transparent;" action="{{ url_for('users.login') }}" method="post">

	  	{{ form.csrf_token }}<br>
	  	<div class="email">
    	{{ form.email(placeholder="E-mail", class= "email-input") }} 
		</div><br>
  		<div class="password">
  		{{ form.password( placeholder= "Password" , class="password-input") }}
   		</div><br>
   		<div class="login">
    		<div class="container">
  				<div class="row">
   				<div class="col-sm">
   					<button class="button" type="submit" style="; background:transparent; font-size: 15px;">Log in</button>
   				</div>
   			</div>
   		</div>
   	</div>
   </form>

   <br>

   <div class="word">
   </div>
   	<div class="signup">
   		<span>Not a member?
   		<a href="/register" style="color: black; font-size: 15px" class="button">SIGN UP!</a>
   		</span>
   	</div>
   </div>
</div>

	<p class="para">Welcome to Roots,</p>
  	<p class="paraa">Where connecting stories of local life to curious</p>,
  	<p class="paraaa">explorers is possible</p>
</center>
</body>

{% endblock %}
