{% extends "layout_user.html" %}
{% block content %}

<body class="fixed-bg"  background="{{ url_for('static', filename='pictures/register_bg.PNG') }}">

  <div class="add-user">

    <div class="page-header">

    <center>
        <h2 class="w3-center">Register</h2>
        <p class="w3-center w3-large">Create a new account here:</p>
    <form class="w3-center" action="{{ url_for('users.register') }}" method="post">

      {{ form.csrf_token }}
      {{ form.email(placeholder="Email Adress") }} <br>
      {{ form.name(placeholder="Full Name") }} <br>
      {{ form.password(placeholder="Password") }} <br>
      {{ form.confirm(placeholder="Confirm Password") }} <br>

    <button class="w3-button w3-black" type="submit">Register User</button>
    </form>


    </center>
    </div>
  </div>
</body>
{% endblock %}
